<h1>第九次视频内容</h1>
<h1>CreditCards#debit</h1>
<p>Find me in app/views/credit_cards/debit.html.erb</p>
<p>这里主要是说明&lt% %&gt 与 &lt%= %&gt的区别：</p>
<p>一个从0到5的循环:
	<% (0..5).each do |i| %>
	<%= "#{i}, "%>
	<% end %>
</p>