@import "bootstrap";

@mixin box_sizing {
	-moz-box-size: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#logo {
float: left;
margin-right: 10px;
font-size: 2.7em;
color: green;
}

#logo:hover {
color: #green;
background: #FFF;
text-decoration: none;
}

h2 {
font-size: 1.5em;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
display: inline;
color: red;
font-size: 1.5em;
padding: 5px 20px;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

.im-center { 
	margin: auto; 
	width: 60%;
}

// Place all the styles related to the YourController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form .clearfix:before, form .clearfix:after {
  display: inline;
}